<h1>Product List</h1>
<br>
<a class="btn btn-primary" href='/add'>Add a Product</a>
<br>
<table class="table table-sm">
  <thead class="thead-dark">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Category</th>
    <th>Size</th>
    <th>Quantity</th>
    <th>Price</th>
  </tr>
<div>
  <ul>
  {{#each products}}
    <tr>
      <td>{{this.productName}}</td>
      <td>{{this.description}}</td>
      <td>{{this.categoryId}}</td>
      <td>{{this.size}}</td>
      <td>{{this.quantity}}</td>
      <td>${{this.price}}</td>
    </tr>
  {{/each}}
  </ul>
</div>
</table>