<h1>Product List</h1>
<br>
<a class="btn btn-primary" href='/add'>Add a Product</a>
<br>
<table class="table table-sm">
  <thead class="thead-dark">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Category</th>
    <th>Size</th>
    <th>Quantity</th>
    <th>Price</th>
    <th></th>
  </tr>
<div>
  <ul>
  {{#each products}}
  <form action="/addToCart" method="POST">
    <tr>
      <td value="{{this.productName}}">{{this.productName}}</td>
        <input type="hidden" class="form-control" id="productName" name="productName" value="{{ this.productName }}" required>
      
      <td>{{this.description}}</td>
        <input type="hidden" class="form-control" id="description" name="description" value="{{ this.description }}" required>
      
      <td>{{this.category.name}}</td>
        <input type="hidden" class="form-control" id="categoryId" name="categoryId" value="{{ this.categoryId }}" required>
      
      <td>{{this.size}}</td>
        <input type="hidden" class="form-control" id="size" name="size" value="{{ this.size }}" required>
      
      <td>{{this.quantity}}</td>
        <input type="hidden" class="form-control" id="quantity" name="quantity" value="{{ this.quantity }}" required>
      
      <td>${{this.price}}</td>
        <input type="hidden" class="form-control" id="price" name="price" value="{{ this.price }}" required>
      
      <td><button type="submit" class="btn btn-success float-right">Add to Cart</button></td>
    </tr>
  </form>
  {{/each}}
  </ul>
</div>
</table>